{% extends 'base.html' %}

{% block title %}{{ category.name }}{% endblock %}

{% block content %}
    <h1>{{ category.name }}</h1>
    <p>{{ category.description }}</p>
    <h3>Посты в категории</h3>
    {% if posts %}
        {% for post in posts %}
            <div class="card mb-3">
                <div class="card-body">
                    {% if post.image %}
                        <img src="{{ post.image.url }}" alt="{{ post.title }}" class="img-fluid mb-2" style="max-width: 200px;">
                    {% endif %}
                    <h5 class="card-title">{{ post.title }}</h5>
                    <p class="card-text">{{ post.content|truncatewords:20 }}</p>
                    <a href="{% url 'blog:post_detail' pk=post.id %}" class="btn btn-primary">Читать далее</a>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <p>В этой категории пока нет постов.</p>
    {% endif %}
{% endblock %}