{% extends 'base.html' %}

{% block title %}Список категорий{% endblock %}

{% block content %}
    <h1>Список категорий</h1>
    {% if categories %}
        <ul class="list-group">
            {% for category in categories %}
                <li class="list-group-item">
                    <a href="{% url 'blog:category_detail' pk=category.id %}">{{ category.name }}</a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Категорий пока нет.</p>
    {% endif %}
{% endblock %}